extends layout

block content
  h1= title
 
  - let o;
  script.
      function buy(itemNo)
      {
          alert('You purchased Item'+(itemNo+1))
      }

  div(class="container-fluid")
   - let items = results;
  div(class="row")
    each form,item in items
        div(class = "col-sm-2 bg-secondary" onclick=`buy(${item})`) #{form.Goat_color}              
        div(class = "col-sm-2 bg-secondary" onclick=`buy(${item})`) #{form.Goat_breed}                
        div(class = "col-sm-2 bg-secondary" onclick=`buy(${item})`) #{form.Goat_price}
        hr